<h3>7 day forecast</h3>
<dl>
<%- codes.each_with_index do |code, index| %>
  <dd>
    <div class="details">
      <strong><%= "#{days[index]}" %></strong>
      <span><%= t "weather_codes.#{code}" %></span>
      <%- unless index > 0 %>
        <p>Sunrise: <%= sunrise %></p>
        <p>Sunset: <%= sunset %></p>
      <% end %>
    </div>
    <div class="icon">
      <%= show_icon(code) %>
    </div>
  </dd>
<% end %>
</dl>
